.ant-select-multiple {
  width: 200px !important;
  box-shadow: 4px 2px 10px rgb(0 0 0) !important;
}

.ant-select-selector {
  background: #b2d22a !important;
  border: 1px solid #b2d22a !important;
}

.ant-select-selection-placeholder {
  color: black !important;
  font-weight: 600 !important;
}

.ant-select-arrow {
  color: black !important;
}

.ant-select-dropdown {
  background: #b2d22a !important;
}
