:root {
  width: 100%;
  height: 100%;
}

body,
html {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#264a73 48%, black 83%);
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: 'Montserrat', sans-serif;
}
